<div class="col-md-4">
  <aside class="main-sidebar">
    <div ng-if="dashboard">
      <h4>Evolua</h4>
      <div class="well">
        <div class="row">
          <div class="col-xs-4">
            <div ng-switch="dashboard.rank">
              <img ng-switch-default src="../images/rank/rank-0.png" alt="" class="img-responsive">
              <img ng-switch-when="1" src="../images/rank/rank-1.png" alt="" class="img-responsive">
              <img ng-switch-when="2" src="../images/rank/rank-2.png" alt="" class="img-responsive">
              <img ng-switch-when="3" src="../images/rank/rank-3.png" alt="" class="img-responsive">
              <img ng-switch-when="4" src="../images/rank/rank-4.png" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-xs-8">
            <p><span class="label label-primary" ng-class="{ 'label-success': dashboard.questions >= dashboard.rules[dashboard.rank + 1].q }">{{ dashboard.questions + '/' + dashboard.rules[dashboard.rank + 1].q }} Perguntas</span></p>
            <p><span class="label label-primary" ng-class="{ 'label-success': dashboard.answers >= dashboard.rules[dashboard.rank + 1].a }">{{ dashboard.answers + '/' + dashboard.rules[dashboard.rank + 1].a }} Respostas</span></p>
            <p><span class="label label-default" ng-class="{ 'label-success': dashboard.score >= dashboard.rules[dashboard.rank + 1].s }">{{ dashboard.score + '/' + dashboard.rules[dashboard.rank + 1].s }} Upvotes - Downvotes</span></p>
          </div>
        </div>
      </div>
      <hr />
    </div>
    <div>
      <h4>Aprenda</h4>
      <ul class="list-inline">
        <li ng-repeat="tag in tags">
          <a ui-sref="tag({ tagId: tag._id })" class="label label-default">{{ tag.name }}</a>
        </li>
      </ul>
    </div>
  </aside>
</div>
