<!-- Blog Search Well -->
<div class="well">
  <h4>Pesquise</h4>
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </span>
  </div>
</div>

<!-- Blog Categories Well -->
<div class="well">
  <h4>Últimas Tags</h4>
  <div class="row">
    <div class="col-lg-6">
      <ul class="list-unstyled">
        <li><a href="#">Java</a>
        </li>
        <li><a href="#">MyIo</a>
        </li>
        <li><a href="#">Política</a>
        </li>
        <li><a href="#">Estatística</a>
        </li>
      </ul>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
      <ul class="list-unstyled">
        <li><a href="#">Física</a>
        </li>
        <li><a href="#">Newton</a>
        </li>
        <li><a href="#">SQL</a>
        </li>
        <li><a href="#">Pedagogia</a>
        </li>
      </ul>
    </div>
    <!-- /.col-lg-6 -->
  </div>
  <!-- /.row -->
</div>

<!-- Side Widget Well -->
<div class="well">
  <h4>Painel Legal</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
</div>
