<div class="container">
	<div class="row">
		<aside class="col-lg-4">
			<section class="user-profile">

					<!-- IMAGE PROFILE-->
				<section class="user-profile-meta">
					<div class="round-image text-center">
						<img src="" alt="IMAGE PROFILE" class="img-circle">
					</div>


						<!-- NAME PROFILE-->
					<div class="profile-name text-center">
						<h4>{{ user.name }}</h4>
					</div>
				</section>


					<!-- ESPECIALIZATION PROFILE-->
				<section class="especialization-profile" style="margin-top: 50px;">

					<!-- MEDAL SECTION -->
					<div class="medal text-center">

						<!-- MEDAL IMAGE -->
						<img src="" alt="MEDAL IMGAGE" width="50">

						<!-- MEDAL NAME -->
						<div class="medal-name">
							<h5>Born Canadian</h5>
						</div>
					</div>

					<!-- PERFORMANCE - LIKES E COMMENTS  -->
					<div class="performance-meta-profile">
						<div class="col-lg-6">

							<h6 class="text-center">
							<span><img src="" alt=""></span><br>
							50 upvotes
							</h6>
						</div>
						<div class="col-lg-6">
							<h6 class="text-center">
								<span><img src="suaimagem.jpg" alt=""></span><br>
								300 comments
							</h6>
						</div>
					</div>
				</section>
			</section>
		</aside>


		<div class="col-lg-8">

			<div class="titulo-do-chart">
				<h3>Seu desempenho</h3>
				<hr>
			</div>
			<div class="chart" style="margin-top: 50px;">
				<div class="secao">
					<h5>Com passarinhos</h5>
				</div>

				<div>
					<img src="" alt="CHARTS" width="400">
				</div>
			</div>

			<!-- NOVO CHART - LOOP  -->
	</div>
</div>
