<div class="container">
	<div class="row">
		<aside class="col-lg-6">
			<section class="user-profile">

					<!-- IMAGE PROFILE-->
				<section class="user-profile-meta">
					<div class="round-image">
						<img src="../../images/005-ninja-3.svg" alt="IMAGE PROFILE" class="img-circle center-block" width="300" height="150">
					</div>
					<!-- NAME PROFILE-->
					<div class="profile-name text-center">
						<h4>{{ user.name }}</h4>
					</div>
				</section>


					<!-- ESPECIALIZATION PROFILE-->
				<section class="especialization-profile" style="margin-top: 50px;" ng-if="dashboard">
					<!-- MEDAL SECTION -->
					<div class="row medal">
            <!-- MEDAL NAME -->
            <div class="col-md-6 text-center medal-name">
						  <!-- MEDAL IMAGE -->
              <img src="../../images/001-crown.svg" alt="MEDAL IMGAGE" width="200" height="100" class="center-block">
              <h5 class="text-uppercase">{{ rankRules[dashboard.rank].type }} </h5>
            </div>
            <div class="col-md-6">
              <h5 class="text-uppercase">Próximo nível:</h5>
              <p><span class="label label-default" ng-class="{ 'label-success': dashboard.questions >= rankRules[dashboard.rank + 1].q }">{{ dashboard.questions + '/' + rankRules[dashboard.rank + 1].q }} Perguntas</span></p>
              <p><span class="label label-default" ng-class="{ 'label-success': dashboard.answers >= rankRules[dashboard.rank + 1].a }">{{ dashboard.answers + '/' + rankRules[dashboard.rank + 1].a }} Respostas</span></p>
              <p><span class="label label-default" ng-class="{ 'label-success': dashboard.score >= rankRules[dashboard.rank + 1].s }">{{ dashboard.score + '/' + rankRules[dashboard.rank + 1].s }} Upvotes - Downvotes</span></p>
            </div>
            <br>
					</div>

					<!-- PERFORMANCE - LIKES E COMMENTS  -->
					<div class="row performance-meta-profile">
						<div class="col-lg-6">
							<h6 class="text-center">
  							<span><img src="../../images/003-star.svg" alt="" width="200" height="100" class="center-block"></span><br>
  							{{ dashboard.upvotes }} upvotes
							</h6>
						</div>
						<div class="col-lg-6">
							<h6 class="text-center">
								<span><img src="../../images/002-chat.svg" alt="" width="200" height="100" alt="" class="center-block"></span><br>
								{{ dashboard.answers }} respostas
							</h6>
						</div>
					</div>
				</section>
			</section>
		</aside>

		<div class="col-lg-6">
			<div class="titulo-do-chart">
				<h3>Seu desempenho</h3>
				<hr>
			</div>
			<div class="chart" style="margin-top: 50px;">
				<div class="secao">
					<h5>Número de respostas por categoria</h5>
				</div>
			</div>
			<div style="padding: 40px;">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="chart.data" chart-labels="chart.labels"></canvas>
      </div>
		<br>
	</div>
</div>
