<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Editar Pergunta</h1>
      <br>

      <form name="editQuestionForm" novalidate ng-submit="editQuestion()">
        <div class="form-group">
          <label class="control-label">Título</label>
          <input ng-model="question.title" type="text" class="form-control" placeholder="Título da pergunta" name="title" required>
          <p ng-if="editQuestionForm.title.$error && editQuestionForm.$submitted" class="help-block text-danger">Este campo é obrigatório</p>
        </div>
        <div class="form-group">
          <label class="control-label">Conteúdo</label>
          <textarea name="body" ng-model="question.body" class="form-control" rows="10" placeholder="Descreva detalhadamente sua dúvida..." required></textarea>
          <p ng-if="editQuestionForm.body.$error && editQuestionForm.$submitted" class="help-block text-danger">Este campo é obrigatório</p>
        </div>
        <div class="form-group">
          <label>Tags</label>
          <tags-input ng-model="question.tags" display-property="name" add-from-autocomplete-only="true" replace-spaces-with-dashes="false" ng-disabled="!tags.length">
            <auto-complete source="loadTags($query)"></auto-complete>
          </tags-input>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="!editQuestionForm.$valid || loading">Salvar</button><br></br>
        </div>
      </form>
    </div>
  </div>
</div>
