
<!-- Contact Section -->
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Login</h2>
                <hr class="star-primary">
                <p>Faça login para continuar</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="form-group col-xs-12 text-center">
              <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" onlogin="checkLoginState();"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form ng-submit="login()" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Usuário</label>
                            <input ng-disabled="loading" ng-model="login.username" type="text" class="form-control" placeholder="Usuário" id="user" required data-validation-required-message="Por favor digite um nome de Usuário.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Senha</label>
                            <input ng-disabled="loading" ng-model="login.password" class="form-control" type="password" placeholder="Senha" id="password" required data-validation-required-message="Por favor digite uma Senha."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12 text-center">
                          <button type="submit" ng-disabled="loading" class="btn btn-success btn-lg btn-block">Login</button><br></br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<div ng-include="'/views/partials/signup.html'" ng-controller="MainCtrl"></div>
