
<!-- Contact Section -->
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Login</h2>
                <hr class="star-primary">
                <p>Faça login para continuar</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form ng-submit="login()" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Usuário</label>
                            <input ng-model="login.username" type="text" class="form-control" placeholder="Usuário" id="user" required data-validation-required-message="Por favor digite um nome de Usuário.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Senha</label>
                            <input ng-model="login.password" class="form-control" type="password" placeholder="Senha" id="password" required data-validation-required-message="Por favor digite uma Senha."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                          <button type="submit" ng-disabled="loading" class="btn btn-success btn-lg">Login</button><br></br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="bg-highlight main-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Cadastre-se</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <form name="signupForm" id="signupForm" ng-submit="signup()" novalidate>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Nome</label>
              <input type="text" class="form-control" placeholder="Nome" name="name" ng-model="newUser.name" required>

              <p ng-if="signupForm.name.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite seu Nome</p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Email</label>
              <input type="email" class="form-control" placeholder="Email" name="email" ng-model="newUser.email" required>
              <p ng-if="signupForm.email.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite seu endereço de Email.</p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Usuário</label>
              <input type="text" class="form-control" placeholder="Usuário" name="username" ng-model="newUser.username" required>
              <p ng-if="signupForm.username.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite um nome de Usuário.</p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Senha</label>
              <input class="form-control" type="password" placeholder="Senha" name="password" ng-model="newUser.password" required>
              <p ng-if="signupForm.password.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite uma Senha.</p>
            </div>
          </div>

          <br>
          <div class="row">
            <div class="form-group col-xs-12">
              <button ng-disabled="loading" class="btn btn-success btn-lg" type="submit">Cadastrar</button><br></br>
              <p><small>Já é Cadastrado? <a ui-sref="login">Clique Aqui</a></small></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
