<!-- Header -->
<section class="section-home">
  <div class="home-hero">
    <img class="img-responsive center-block" src="images/logo.png" alt="">
    <br>
    <p><big>EAD - Pergunte - Responda - Aprenda</big></p>
  </div>
</section>

<!-- About Section -->
<section class="main-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Be My Brain Be My Brain Be My Brain Be My BrainBe My BrainBe My BrainBe My BrainBe My Brain Be My Brain Be My Brain Be My Brain Be My Brain Be My BrainBe My Brain.</p>
            </div>
            <div class="col-lg-4">
                <p>Be My Brain Be My Brain Be My Brain Be My BrainBe My BrainBe My BrainBe My BrainBe My Brain Be My Brain Be My Brain Be My Brain Be My Brain Be My BrainBe My Brain.</p>
            </div>
        </div>
    </div>
</section>
