<!-- Header -->
  <section class="section-home">
    <div class="home-hero">
      <img class="img-responsive center-block" src="images/logo.png" alt="">
      <br>
      <p><big>EAD - Pergunte - Responda - Aprenda</big></p>
    </div>
  </section>

  <!-- About Section -->
  <section class="main-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Sobre</h2>
          <hr class="star-light">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-offset-2 text-center">
          <p>O Be My Brain é um aplicativo que conecta estudantes com professores voluntários por meio de mensagens instantâneas, troca de arquivos ou chamadas de áudio e vídeo.</p>
          <br>
          <p>Como estudante, você pode categorizar sua dúvida no tema que quiser. No momento que você posta esta dúvida, os professores disponíveis recebem uma notificação e te ajudam a solucionar o problema em tempo real.</p>
          <br>
          <p>Como professor, você pode escolher os dias, horários, temas e número de vezes que deseja receber notificações de dúvidas.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-highlight main-section" ng-if="!isLoggedIn()">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Cadastre-se</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <form name="signupForm" id="signupForm" ng-submit="signup()" novalidate>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="Nome" name="name" ng-model="newUser.name" required>

                <p ng-if="signupForm.name.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite seu Nome</p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="newUser.email" required>
                <p ng-if="signupForm.email.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite seu endereço de Email.</p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Usuário</label>
                <input type="text" class="form-control" placeholder="Usuário" name="username" ng-model="newUser.username" required>
                <p ng-if="signupForm.username.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite um nome de Usuário.</p>
              </div>
            </div>
            <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Senha</label>
                <input class="form-control" type="password" placeholder="Senha" name="password" ng-model="newUser.password" required>
                <p ng-if="signupForm.password.$error && signupForm.$submitted" class="help-block text-danger">Por favor digite uma Senha.</p>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="form-group col-xs-12">
                <button class="btn btn-success btn-lg" type="submit">Cadastrar</button><br></br>
                <p><small>Já é Cadastrado? <a ui-sref="login">Clique Aqui</a></small></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
