<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Nova Pergunta</h1>
      <br>

      <form name="newQuestionForm" novalidate ng-submit="newQuestion()">
        <div class="form-group">
          <label class="control-label">Título</label>
          <input ng-model="newQuestion.title" type="text" class="form-control" placeholder="Título da pergunta" name="title" required>
          <p ng-if="newQuestionForm.title.$error && newQuestionForm.$submitted" class="help-block text-danger">Este campo é obrigatório</p>
        </div>
        <div class="form-group">
          <label class="control-label">Conteúdo</label>
          <textarea name="body" ng-model="newQuestion.body" class="form-control" rows="10" placeholder="Descreva detalhadamente sua dúvida..." required></textarea>
          <p ng-if="newQuestionForm.body.$error && newQuestionForm.$submitted" class="help-block text-danger">Este campo é obrigatório</p>
        </div>
        <div class="form-group">
          <label>Tags</label>
          <textarea ng-model="newQuestion.tags" rows="3" class="form-control" placeholder="Separe as tags por linhas" name="tags" ng-list="&#10;" ng-trim="false"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">Enviar</button><br></br>
        </div>
      </form>
    </div>
  </div>
</div>
