<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <div class="panel panel-default question-item" ng-repeat="question in questions | orderBy : date : true | filter : query">
        <div class="panel-body">
          <p><i class="glyphicon glyphicon-user" width="60px" height="60px" href="#"></i> {{ question.author.name || question.author.username || 'Usuário' }} - <i class="glyphicon glyphicon-time"></i> {{ question.date | date : 'dd MMM yyyy, h:mm a' }}</p>
          <h3><a class="color-1" ui-sref="main.question({ id: question._id })">{{ question.title }}</a></h3>
          <p ng-if="question.body">{{ question.body | limitTo : 200 }} [...]</p>
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-inline" ng-if="question.tags.length">
                <li>Tags:</li>
                <li ng-repeat="tag in question.tags"><span class="label label-default">{{ tag.name }}</span></li>
              </ul>
            </div>
            <div class="col-sm-6 text-right">
              <a class="btn btn-info" ui-sref="main.question({ id: question._id })">Responder <i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Blog Search Well -->
      <div class="well">
        <h4>Pesquise</h4>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="query">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="search(query)">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
      <div ng-include="'/views/partials/sidebar.html'"></div>
    </div>

  </div>
