<div class="container">
  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8 col-lg-offset-2">
      <ol class="breadcrumb">
        <li><a ui-sref="main.home">Home</a></li>
        <li><a ui-sref="main.questions">Perguntas</a></li>
        <li class="active">{{ question.title }}</li>
      </ol>

      <!-- Title -->
      <article class="main-section question-detail" ng-if="question._id">
        <vote-box ng-if="!isAuthor" question="question" class="pull-right"></vote-box>
        <p><a class="color-1" ui-sref="main.dashboard({ userId: question.author._id })"><i class="glyphicon glyphicon-user" width="60px" height="60px" href="#"></i> {{ question.author.name || question.author.username || 'Usuário' }}</a> - <i class="glyphicon glyphicon-time"></i> {{ question.date | date : 'dd MMM yyyy, h:mm a' }}</p>
        <h2>{{ question.title }}</h2>
        <br>
        <div class="question-body">
          {{ question.body }}
        </div>
        <br>
        <ul class="list-inline" ng-if="question.tags.length">
          <li>Tags:</li>
          <li ng-repeat="tag in question.tags"><span class="label label-default">{{ tag.name }}</span></li>
        </ul>
      </article>

      <hr>

      <!-- Comment -->
      <div class="answer-list" ng-if="question._id && answers.length">
        <h3>Melhores respostas:</h3>
        <div class="panel panel-default media" ng-repeat="answer in answers | orderBy : ['-score', '-date']">
          <div class="panel-body">
            <vote-box ng-if="answer.author._id !== currentUser._id" answer="answer" class="pull-right"></vote-box>
            <div class="media-body">
              <user-avatar user="answer.author"></user-avatar>
              <h4 class="media-heading"><a class="color-1" ui-sref="main.dashboard({ userId: answer.author._id })">{{ answer.author.name || answer.author.username || 'Usuário' }}</a> <small ng-if="isAuthorsChoice(answer)"><i class="glyphicon glyphicon-star"></i> Escolha do autor</small></h4>
              <p><small>Postado em {{ answer.date | date : 'dd MMM yyyy, h:mm a' }}</small></p>
              <p>{{ answer.body }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-info" ng-if="answers.length === 0">Ninguém respondeu ainda!</div>

      <hr>

      <!-- Comments Form -->
      <div class="new-answer" ng-if="isLoggedIn()">
        <h3>Responda:</h3>
        <div class="form-group">
          <textarea class="form-control" ng-model="newAnswer.body" rows="5" placeholder="Sabe a resposta?"></textarea>
        </div>
        <button type="button" ng-click="sendAnswer()" class="btn btn-success" ng-disabled="loading || !newAnswer.body.length">Enviar</button>
      </div>

      <hr>

    </div>

  </div>
