<div class="container">
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <div class="panel panel-default question-item" ng-repeat="question in questions | orderBy : '-date' | filter : query">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-11">
              <p><i class="glyphicon glyphicon-user" width="60px" height="60px" href="#"></i> {{ question.author.name || question.author.username || 'Usuário' }} - <i class="glyphicon glyphicon-time"></i> {{ question.date | date : 'dd MMM yyyy, h:mm a' }}</p>
            </div>
            <div class="col-xs-1 text-center" ng-if="userInfo._id === question.author._id">
              <a href="" bs-dropdown aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="main.editquestion({ id: question._id })"><i class="fa fa-pencil" aria-hidden="true"></i> Editar pergunta</a></li>
                <li><a href ng-click="confirmDelete(question._id)"><i class="fa fa-trash-o" aria-hidden="true"></i> Excluir pergunta</a></li>
              </ul>
            </div>
          </div>
          <h3><a class="color-1" ui-sref="main.question({ id: question._id })">{{ question.title }}</a></h3>
          <p ng-if="question.body">{{ question.body | limitTo : 200 }} [...]</p>
          <div class="row">
            <div class="col-sm-6">
              <ul class="list-inline" ng-if="question.tags.length">
                <li>Tags:</li>
                <li ng-repeat="tag in question.tags"><span class="label label-default">{{ tag.name }}</span></li>
              </ul>
            </div>
            <div class="col-sm-6 text-right">
              <a class="btn btn-info" ui-sref="main.question({ id: question._id })">Responder <i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="container">
      <!-- Blog Search Well -->
        <h4>Pesquise</h4>
        <br>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="query" placeholder="Ex: Métodos em java...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="search(query)">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      <div ng-include="'/views/partials/sidebar.html'"></div>
    </div>

  </div>
