<div class="container">
  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <article class="question-detail">
        <p><i class="glyphicon glyphicon-user" width="60px" height="60px" href="#"></i> Bruno - <i class="glyphicon glyphicon-time"></i> {{ question.date | date : 'dd MMM yyyy, h:mm a' }}</p>
        <h2>{{ question.title }}</h2>
        <div class="question-body">
          {{ question.body }}
        </div>
        <ul class="list-inline" ng-if="question.tags.length">
          <li>Tags:</li>
          <li ng-repeat="tag in question.tags"><a href="index.php" class="link_hover"><span class="label label-default">Default</span></a></li>
        </ul>
      </article>

      <hr>

      <!-- Comment -->
      <div class="answer-list" ng-if="answers.length">
        <h3>Melhores respostas:</h3>
        <div class="media" ng-repeat="answer in answers | orderBy : date : true">
          <a class="pull-left" href="#">
            <img src="images\beMyBrainLogo.png" width="64px" height="64px"></img>
          </a>
          <div class="media-body">
            <h4 class="media-heading">Gilberto<small> Postado em {{ question.date | date : 'dd MMM yyyy, h:mm a' }}</small></h4>
            {{ answer.body }}
          </div>
        </div>
      </div>
      <div class="alert alert-info" ng-if="answers.length === 0">Ninguém respondeu ainda!</div>

      <hr>

      <!-- Comments Form -->
      <div class="new-answer">
        <h3>Nova Resposta:</h3>
        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="5" placeholder="Sabe a resposta ?"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Enviar</button>
        </form>
      </div>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4" ng-include="'/views/partials/sidebar.html'"></div>

  </div>
